Jetty servlet implementation issues with path-based %-encoding

We came across a server implementation that by default has issues with percent encoded path elements that are used in NIPC API's to identify SDF global names.

Sample API call: 
Request: GET https://www.testing.com/api/v1/networks/N_1126462856806124212/iotGateway/nipc/draft-06/3c1302d0-8f18-466d-94b5-e55f1ad312cc/property/https%3A%2F%2Fexample.com%2Fthunderboard%23%2FsdfThing%2FThunderboard%2FsdfProperty%2Fdevice_name

Response:
```
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
    <title>Error 400 Ambiguous URI path separator</title>
</head>

<body>
    <h2>HTTP ERROR 400 Ambiguous URI path separator</h2>
    <table>
        <tr>
            <th>URI:</th>
            <td>/badURI</td>
        </tr>
        <tr>
            <th>STATUS:</th>
            <td>400</td>
        </tr>
        <tr>
            <th>MESSAGE:</th>
            <td>Ambiguous URI path separator</td>
        </tr>
    </table>
    <hr /><a href="https://jetty.org/">Powered by Jetty:// 12.0.19</a>
    <hr />
</body>
</html>
```

The issue is related to the %-encoded SDF propertyname.

% encoding is pretty common in URIs. It is described in section 2.1 of RFC3986: https://datatracker.ietf.org/doc/html/rfc3986. Section 2.2 of that RFC describes how components and subcomponents of URIs that contain reserved characters (such as / for example) must be %-encoded. The NIPC draft complies to this. Section 2.4 of the same RFC describes when to encode and decode.

The implementers in their documentation have a section on uri-path-cnaonocalization:
https://jakarta.ee/specifications/servlet/6.0/jakarta-servlet-spec-6.0#uri-path-canonicalization
Section 10 of this chapter refers to what are considered ‘suspicious sequences’. This includes how % encoding reserved characters in the URI path are considred suspicious. This seems to contradict section 2.2 of RFC3986.

I tried to understand the reasoning of the implementors by looking at their code: 
https://github.com/jetty/jetty.project/blob/jetty-12.0.x/jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/UriCompliance.java
When looking at %encoding / we can find following comment in the code:
       /**
        * Allow ambiguous path separator within a URI segment e.g. <code>/foo/b%2fr</code>
        * When allowing this {@code Violation}, the application developer/deployer must be aware that the decoded URI path is
        * ambiguous and that it is not possible to distinguish in the decoded path a real path separator versus an encoded
        * separator character. Any URI matching based on decoded segments may be affected by this ambiguity. It is highly
        * recommended that applications using this violation work only with encoded URI paths. Some APIs that return
        * decoded paths may throw an exception rather than return such an ambiguous path.
        */
       AMBIGUOUS_PATH_SEPARATOR(https://tools.ietf.org/html/rfc3986#section-3.3, "Ambiguous URI path separator"),

They refer to section 3.3 of RFC3986 and leverage the term “Ambiguous URI path separator". P I could not find any reference to “Ambiguous URI path separator" nor any reference to not allowing %-encoded reserved characters. “ Ambiguous URI path separator" is actually not mentioned in the entire RFC. The comment here mentions that a %-encoded path separator vs a real path separator is ambiguous, however if properly implementing section 2.4 of the RFC that discusses decode, there should not be any ambiguity.
In the security consideration section of RFC3986, section 7.3 there is mention of properly handling octet data, specifically use cases like %00 encoding or encoding related to file system functions. There are no recommendations around percent encoding reservice characters,

Looking at Forum posts: They also do not provide more background on what the specific concern was that prompted to ban all %-encoding from the path in their implementation:
https://github.com/jetty/jetty.project/issues/11890
https://github.com/jetty/jetty.project/issues/11448
It seems other users are also struggling with this as their applications do treat / differently from %2F as they are supposed to.
In the end I believe they are trying to somehow protect against improper decoding?

I wanted to understand if other implementations have a similar approach, so I searched for  "percent encoding ambiguous  path reference” , but could not find any other references to this other than Jetty.
https://www.google.com/search?q=percent+encoding+ambiguous+path+reference&num=10&client=firefox-b-d&sca_esv=cdc38b39ab1342b0&channel=entpr&ei=RQNUaODhIqu-hbIPjbb18AE&ved=0ahUKEwigmLH3vv2NAxUrX0EAHQ1bHR4Q4dUDCBA&uact=5&oq=percent+encoding+ambiguous+path+reference&gs_lp=Egxnd3Mtd2l6LXNlcnAiKXBlcmNlbnQgZW5jb2RpbmcgYW1iaWd1b3VzIHBhdGggcmVmZXJlbmNlMgcQIRigARgKSII9ULMOWJk8cAF4AZABAZgBswKgAe4gqgEJMjUuMTMuMS4xuAEDyAEA-AEBmAIooALVIMICChAAGLADGNYEGEfCAgoQABiABBhDGIoFwgIIEC4YgAQYsQPCAg4QLhiABBixAxjRAxjHAcICBRAAGIAEwgIIEAAYgAQYsQPCAgsQLhiABBjRAxjHAcICCxAAGIAEGLEDGIMBwgINEAAYgAQYsQMYQxiKBcICCxAAGIAEGJECGIoFwgIGEAAYFhgewgILEAAYgAQYhgMYigXCAgUQABjvBcICCBAAGIAEGKIEwgIFECEYoAGYAwCIBgGQBgiSBwkyNi4xMy4wLjGgB5mtAbIHCTI1LjEzLjAuMbgHzSDCBwkwLjE0LjI1LjHIB4cB&sclient=gws-wiz-serp

Finally, online URI RFC3986 validators such as https://0mg.github.io/tools/uri/ validate the URI just fine.

Jetty does allow turning off "Ambiguous URI validation"

NIPC so far has been tested with several server and proxy implementations. Based on testing and searches, this seems to be the only implementation that has this issue

I don't find the concept of ambiguous paths in Section 3.3 of RFC 3986.
` ":" / "/" / "?" / "#" ` are all gen-delims, so their percent-encodings are not normalized away by 6.2.2.  Syntax-Based Normalization either.

I have no problem extracting the path with the necessary percent-encodings intact.

```
>> URI("https://www.testing.com/api/v1/nipc/draft-06/3c1302d0-8f18-466d-94b5-e55f1ad312cc/property/https%3A%2F%2Fexample.com%2Fthunderboard%23%2FsdfThing%2FThunderboard%2FsdfProperty%2Fdevice_name").path
=> "/api/v1/nipc/draft-06/3c1302d0-8f18-466d-94b5-e55f1ad312cc/property/https%3A%2F%2Fexample.com%2Fthunderboard%23%2FsdfThing%2FThunderboard%2FsdfProperty%2Fdevice_name"
```

Maybe this message is a remnant from RFC 2396.  Appendix D.2 says

> The number sign ("#")
   character has been moved back to the reserved set as a result of
   reintegrating the fragment syntax.

For diagnostic value, can you try whether removing the %23 works around this problem?

> It's the `/` (%2F) that jetty doesn't like

Thanks!
I can confidently say that, unless this is a warning that can easily be disabled, this is a bug.

I agree with @cabo, we want hte same behavior across implementations. If there is a good reason, a proposed draft to amend RFC3986 would be the way to address it, as it could get reviewed by the IETF community and find its way into other products. My concern here mainly is implementers of NIPC that leverage jetty would run into issues unless they disable "Ambiguous URI validation", which the developers labal as "dangerous, you should not do"

I don't think you would want to amend RFC 3986 -- everything works already!
It seems it's just that the jetty developers have see that this is setting up a trap for newbies.
I think this needs to be solved on the jetty side.


Add explanation in draft why query parameter was chosen